@import url(../assets/fonts/conthrax/stylesheet.css);
@import url(../assets/fonts/readex/stylesheet.css);
@keyframes animate1 {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-1.5vh) translateX(5vmin);
  }
}
@keyframes animate2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15vmin);
  }
}
@keyframes animate3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5vmin);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.font-con {
  font-family: "Conthrax Rg";
}

.font-readex {
  font-family: "Readex Pro";
}

body {
  background: #070a29;
}

#mouse {
  position: fixed;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 30px #fff, 0 0 60px #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

body:hover #mouse {
  opacity: 1;
}

p,
a,
li,
span,
strong {
  font-size: 1.6rem;
}

.radius-12 {
  border-radius: 12rem;
}

.title-main {
  font-size: 5rem;
}

.fs-14 {
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Conthrax Rg";
  font-size: 62.5%;
}

ul,
li {
  margin: 0;
}

a {
  color: #3d3d3d;
  text-decoration: none;
}

input {
  box-shadow: none;
}
input:focus {
  outline: none;
}

.btn-join {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 10px;
  display: flex;
  padding: 5px;
  background: transparent;
}
.btn-join span {
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}
.btn-join span::after {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.13), hsla(0, 0%, 100%, 0.13) 77%, hsla(0, 0%, 100%, 0.5) 92%, hsla(0, 0%, 100%, 0));
  content: "";
  height: 200%;
  left: -210%;
  opacity: 0;
  position: absolute;
  top: -50%;
  transition: all 0.7s ease 0s;
  width: 200%;
}
.btn-join span:hover::after {
  left: -30%;
  opacity: 1;
  top: -20%;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-property: left, top, opacity;
  transition-timing-function: linear;
}

.btn-txt {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: linear-gradient(89.96deg, hsla(0, 0%, 100%, 0.05) 0.03%, hsla(0, 0%, 100%, 0.008) 49.67%, hsla(0, 0%, 100%, 0.05) 99.96%);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 100px;
  display: inline-block;
  margin-bottom: 22px;
  padding: 7px 14px;
}
.btn-txt span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%), #fff;
  -webkit-background-clip: text;
  background-clip: text;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 99;
}
header .navbar-brand {
  font-size: 3rem;
  color: #fff;
}
header .nav-link {
  font-size: 1.6rem;
}
header .nav-right {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
header.header {
  transition: all 0.4s;
}
header.header.transparent {
  animation: moveDown 0.4s linear;
  position: fixed;
  width: 100%;
  background: #070a29;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

#cart-count,
.cart-numm {
  color: white;
  font-family: auto;
  bottom: 80%;
  background: #6633fe;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.4rem;
}

.main {
  background: #070a29;
  height: 100vh;
}
.main .box-main .img-main {
  width: 70%;
  animation: animate1 15s infinite;
  height: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .box-main .title-page {
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.home {
  overflow: hidden;
}
.home .banner {
  position: relative;
}
.home .banner::after {
  background: radial-gradient(34.98% 34.98% at 50% 50%, #725bda 0, rgba(6, 19, 45, 0) 100%);
  content: "";
  height: 2000px;
  right: -60%;
  opacity: 0.5;
  position: absolute;
  top: -70%;
  width: 2000px;
  z-index: -1;
}
.home .banner__left .heading {
  font-size: 6rem;
}
.home .banner__left .desc {
  font-size: 1.6rem;
}
.home .banner__left .text_word {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
  -webkit-background-clip: text;
  position: relative;
  font-size: 6rem;
}
.home .banner__left .text_word::after {
  bottom: -57px;
  content: "";
  height: 64.77px;
  left: -63px;
  position: absolute;
  width: 317.39px;
  background: url(../assets/img/downvvload.png);
}
.home .banner__right {
  width: 85%;
  margin: auto;
}
.home .banner__right .box-img {
  padding-top: 125%;
}
.home .banner__right .box-img::after {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 130px;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  transform: rotate(-17deg);
}
.home .banner__right .box-img::before {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 130px;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  transform: rotate(-7deg);
}
.home .banner__right .img-person {
  border-radius: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .banner__right .icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}
.home .banner__right .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .banner__right .box-price {
  top: 10%;
  right: -5%;
  animation: animate1 15s infinite;
}
.home .banner__right .box-icon {
  background: #fff;
  border-radius: 3rem;
  padding: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.home .banner__right .box-icon h4 {
  font-weight: bold;
  color: #000;
}
.home .banner__right .box-owner {
  bottom: 10%;
  left: -10%;
  animation: animate1 5s infinite;
}
.home .banner .pay h6 {
  font-size: 2rem;
  margin-top: 3rem;
}
.home .about {
  position: relative;
}
.home .about::after {
  background: radial-gradient(34.98% 34.98% at 50% 50%, #725bda 0, rgba(6, 19, 45, 0) 100%);
  content: "";
  height: 2000px;
  left: -60%;
  opacity: 0.5;
  position: absolute;
  top: -70%;
  width: 2000px;
  z-index: -1;
}
.home .about .box-img {
  width: 80%;
  margin: auto;
}
.home .about .box-img::after {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 110px;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(10deg);
  width: 100%;
  z-index: -1;
}
.home .about .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .about .img-1 {
  left: -10%;
  width: 100px;
  top: 15%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  animation: animate2 15s infinite;
}
.home .about .img-2 {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  z-index: -1;
  top: 90%;
  animation: animate3 15s infinite linear;
}
.home .about .img-3 {
  width: 240px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  z-index: 1;
  top: 90%;
  right: -3%;
  animation: animate1 15s infinite linear;
}
.home .product .pro-item {
  margin-bottom: 1.5rem;
  cursor: pointer;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: linear-gradient(89.96deg, hsla(0, 0%, 100%, 0.05) 0.03%, hsla(0, 0%, 100%, 0.008) 49.67%, hsla(0, 0%, 100%, 0.05) 99.96%);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 26px;
  padding: 20px;
}
.home .product .pro-item:hover .img-pro {
  transform: scale(1.1);
}
.home .product .box-img {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.home .product .img-pro {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s;
}
.home .product .box-content {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}
.home .product .box-content h4 {
  margin: 0;
  text-align: center;
  padding: 2rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 11px;
}
.home .product p {
  margin: 0;
}

.modal-cart {
  position: fixed;
  top: 100px;
  right: 0;
  height: 100vh;
  overflow: auto;
  width: 40%;
  z-index: 99;
  background: linear-gradient(264.28deg, #080112 -38.2%, #5c27fe 103.12%);
}
.modal-cart .icon-close {
  cursor: pointer;
}
.modal-cart .product-item .box-img {
  width: 30%;
  padding: 2rem;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: linear-gradient(89.96deg, hsla(0, 0%, 100%, 0.05) 0.03%, hsla(0, 0%, 100%, 0.008) 49.67%, hsla(0, 0%, 100%, 0.05) 99.96%);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 26px;
}
.modal-cart .product-item .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
.modal-cart .cart-totals th,
.modal-cart .cart-totals td {
  font-size: 1.6rem;
}
.modal-cart .cart-totals td {
  text-align: right;
}/*# sourceMappingURL=style.css.map */