@font-face {
    font-family: 'Conthrax Rg';
    src: url('ConthraxRg-Bold.woff2') format('woff2'),
        url('ConthraxRg-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conthrax Rg';
    src: url('ConthraxRg-Regular.woff2') format('woff2'),
        url('ConthraxRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conthrax Lt';
    src: url('ConthraxLt-Regular.woff2') format('woff2'),
        url('ConthraxLt-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conthrax Sb';
    src: url('ConthraxSb-Regular.woff2') format('woff2'),
        url('ConthraxSb-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

