.home {
  overflow: hidden;
  .banner {
    position: relative;
    &::after {
      background: radial-gradient(
        34.98% 34.98% at 50% 50%,
        #725bda 0,
        rgba(6, 19, 45, 0) 100%
      );
      content: "";
      height: 2000px;
      right: -60%;
      opacity: 0.5;
      position: absolute;
      top: -70%;
      width: 2000px;
      z-index: -1;
    }
    &__left {
      .heading {
        font-size: 6rem;
      }
      .desc {
        font-size: 1.6rem;
      }
      .text_word {
        -webkit-text-fill-color: transparent;
        background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%);
        -webkit-background-clip: text;
        position: relative;
        font-size: 6rem;
        &::after {
          bottom: -57px;
          content: "";
          height: 64.77px;
          left: -63px;
          position: absolute;
          width: 317.39px;
          background: url(../assets/img/downvvload.png);
        }
      }
    }
    &__right {
      width: 85%;
      margin: auto;
      .box-img {
        padding-top: calc(705 / 564 * 100%);
        &::after {
          background: hsla(0, 0%, 100%, 0.1);
          border-radius: 130px;
          content: "";
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: -1;
          transform: rotate(-17deg);
        }
        &::before {
          background: hsla(0, 0%, 100%, 0.1);
          border-radius: 130px;
          content: "";
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: -1;
          transform: rotate(-7deg);
        }
      }
      .img-person {
        border-radius: 12rem;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .icon {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .box-price {
        top: 10%;
        right: -5%;
        animation: animate1 15s infinite;
      }
      .box-icon {
        background: #fff;
        border-radius: 3rem;
        padding: 2rem;
        column-gap: 2rem;
        h4 {
          font-weight: bold;
          color: #000;
        }
      }
      .box-owner {
        bottom: 10%;
        left: -10%;
        animation: animate1 5s infinite;
      }
    }
    .pay {
      h6 {
        font-size: 2rem;
        margin-top: 3rem;
      }
    }
  }
  .about {
    position: relative;
    &::after {
      background: radial-gradient(
        34.98% 34.98% at 50% 50%,
        #725bda 0,
        rgba(6, 19, 45, 0) 100%
      );
      content: "";
      height: 2000px;
      left: -60%;
      opacity: 0.5;
      position: absolute;
      top: -70%;
      width: 2000px;
      z-index: -1;
    }
    .box-img {
      width: 80%;
      margin: auto;
      &::after {
        background: hsla(0, 0%, 100%, 0.1);
        border-radius: 110px;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        width: 100%;
        z-index: -1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img-1 {
      left: -10%;
      width: 100px;
      top: 15%;
      height: 100px;
      object-fit: cover;
      border-radius: 20px;
      animation: animate2 15s infinite;
    }
    .img-2 {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 40px;
      z-index: -1;
      top: 90%;
      animation: animate3 15s infinite linear;
    }
    .img-3 {
      width: 240px;
      height: 240px;
      object-fit: cover;
      border-radius: 40px;
      z-index: 1;
      top: 90%;
      right: -3%;
      animation: animate1 15s infinite linear;
    }
  }
  .product {
    .pro-item {
      margin-bottom: 1.5rem;
      cursor: pointer;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background: linear-gradient(
        89.96deg,
        hsla(0, 0%, 100%, 0.05) 0.03%,
        hsla(0, 0%, 100%, 0.008) 49.67%,
        hsla(0, 0%, 100%, 0.05) 99.96%
      );
      border: 1px solid hsla(0, 0%, 100%, 0.1);
      border-radius: 26px;
      padding: 20px;

      &:hover {
        .img-pro {
          transform: scale(1.1);
        }
      }
    }
    .box-img {
      border-radius: 2rem;
      overflow: hidden;
      margin-bottom: 2rem;
    }
    .img-pro {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s;
    }
    .box-content {
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1rem;
      h4 {
        margin: 0;
        text-align: center;
        padding: 2rem;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background: hsla(0, 0%, 100%, 0.1);
        border-radius: 11px;
      }
    }
    p {
      margin: 0;
    }
  }
}
.modal-cart {
  .icon-close {
    cursor: pointer;
  }
  position: fixed;
  top: 100px;
  right: 0;
  height: 100vh;
  overflow: auto;
  width: 40%;
  z-index: 99;
  background: linear-gradient(264.28deg, #080112 -38.2%, #5c27fe 103.12%);
  .product-item {
    .box-img {
      width: 30%;
      padding: 2rem;
      backdrop-filter: blur(4px);
      background: linear-gradient(
        89.96deg,
        hsla(0, 0%, 100%, 0.05) 0.03%,
        hsla(0, 0%, 100%, 0.008) 49.67%,
        hsla(0, 0%, 100%, 0.05) 99.96%
      );
      border: 1px solid hsla(0, 0%, 100%, 0.1);
      border-radius: 26px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem;
      }
    }
  }
  .cart-totals {
    th,
    td {
      font-size: 1.6rem;
    }
    td {
      text-align: right;
    }
  }
}
